.set-div{
    /* margin-bottom: 50%; */
    margin-left: 0%;
    width: 100%;
    height: 852px;
    display: flex;
    flex-direction: column;
    background-color: rgb(230, 230, 230);
    padding-top: 5%;
    padding: 4% 2% 0;
}

.set-div button{
    margin-left: .2%;
    background-color: #322842;
    border-left-color: #352847;
    border-right-color: #352847;
    border-bottom-color: #352847;
    border-top: #584573;
    transition: all 0.5s ease;
}

.set-div button:hover{
    background-color: whitesmoke;
    border-color: whitesmoke;
    color: #584573;
    transition: all 0.5s ease;
}

@media (max-width: 1070px){
    .set-div{
        margin-top: 50px;
        background-color: #584573;
        color: #fff; 
        display: flex;
        flex-direction: row;
        justify-content: space-around;  
        
    }
    .set-div button{
        align-content: center;
        border-left-color: #352847;
        border-right-color: #352847;
        border-bottom-color: #352847;
        border-top: #584573;
        transition: all 0.5s ease;
        background-color: #584573;
        box-shadow: 0 3px 1px 0 #352847; 
        width: 300px; 
        height: 75px;
    }
    .set-div button:hover{
        background-color: #775d9b;
        border: 0 none;
        font-family: Arial, Helvetica, sans-serif;
        color: #fff;
    }

    .set-div button:active{
        background-color: #775d9b;
        box-shadow: none;
        margin-bottom: -3px;
        margin-top: 3px;
        font-family: Arial, Helvetica, sans-serif;
        color: #fff;
    }  
}