.add_new_class{
    display: flex;
    justify-content: center;
    font-size: 40px;
}

.NewClass{
    margin-left: 49%;
    border-radius: 1.25rem;
}

.plus_button{
    display: flex;
    justify-content: center;
    font-size: 40px;
}