.jumbo-div{
    /* margin-bottom: 50%; */
    height: 852px;
    background: #BBD4D8;
    border-radius: .25rem;
    width: 100%;
}

.add_new_class{
    display: flex;
    justify-content: center;
    font-size: 40px;
    
}

.display-3{
    text-align: center;;
}

.NewClass{
    margin-left: 50%;
    margin-top: 3%;
    border-radius: 3.25rem;
    height: 50px;
    width: 3.6%; 
    background-color: #BBD4D8;
    
}

#nc{
    background: #BBD4D8;
    border-color: rgb(160, 60, 92);
    color: rgb(160, 60, 92);
    /* width: 10%; */
    /* height: 30px; */
    /* margin-left: 22%; */
    /* margin-top: 40%; */
    /* text-align: left; */
    /* padding: 0% 30% 0%; */
}

#ncbutton{
    height: 40px;
    /* margin-right: 20%; */
}

#nc:hover{
    border-color: #BBD4D8;
    color: #BBD4D8;
    background-color: rgb(160, 60, 92);
}

.plus_button{
    display: flex;
    justify-content: center;
    font-size: 40px;
}

.jumbotron{
    background-color: #BBD4D8;
    text-align: center;
}
