.App{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 3% 1%;
}


.LogBar{
  padding-left: 92%;
}

.LandingComponentHidden{
  display: none;
}

.LandingComponent{
  display: block;
}

/* .MainComponentsHidden{
  display: none;
} */

.MainAppComponents{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px solid black;
  /* margin-left: .5%; */
  width: 100%;
}

.CrumbBar{
  width: 90%;
  margin-bottom: 1%;
  background-color: white;
}
.breadcrumb{
  background-color: white;
}

.breadcrumb:active{
  text-decoration: underline;
}

.breadcrumb li{
  margin-right: 10px;
}
.breadcrumb{
  width: 100%;
}

.appPanel{
  width: 88%;
  padding: 1%;
}
/* .MainComponentsHidden{
  display: block;
  border: 1px solid black;
  margin-left: .5%;
  width: 85%;
} */

/* .sideBar{
  display: none;
} */
