.landing{
    /* background: #31353D; */
    background: #BBD4D8;
    background-image: url('./download.jpg');
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    width: 100%;
    height: 730px;
    padding-left: 43%;
    justify-content: space-between;
}

.nav-about{
    align-self: flex-end;
    /* margin-left:  */
    width: 50%;
}

#nav-login{
    margin-top: 0%;
    margin-left: 0%;
    left: 20px;
    /* padding-left: 35%; */
}

/* .nav-signup{
    margin-top: 2.3%;
    margin-left: -4%;
} */

#nav-button{
    background-color: #92CDCF;
}

#nav-button:hover{
    background-color: #445878;
}

.mobile{
    visibility: hidden;
}