.landing{
    /* background: #31353D; */
    background: #584573;
    background-image: url('./download.jpg');
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    width: 100%;
    height: 730px;
    padding-left: 43%;
    justify-content: space-between;
}

.nav-about{
    align-self: flex-end;
    /* margin-left:  */
    width: 50%;
}

#nav-login{
    margin-top: 0%;
    margin-left: 0%;
    left: 20px;
    /* padding-left: 35%; */
}

/* .nav-signup{
    margin-top: 2.3%;
    margin-left: -4%;
} */

#nav-button{
    background-color: #584573;
    border-left-color: #352847;
    border-right-color: #352847;
    border-bottom-color: #352847;
    border-top: #584573;
    text-align: center;
}

#nav-button:hover{
    background-color: whitesmoke;
    color: gray;
    font-weight: 900;
    text-align: center;
}

.mobile{
    visibility: hidden;
}