/* @media(min-width: 1142px){ */
.main {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    /* background: blue; */
    /* height: 1000px;   */
    background: rgb(230, 230, 230);  
    border-radius: .25rem;  
    width: 96.5vw; 
    height: 92vh;
  }
  
  .main_contents {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .top-section {
    /* border: 5px solid maroon; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    flex-direction: row;
    /* flex-wrap: wrap; */
    width: 100%;
    height: 15%;
  }

  .classid_tt{
      width: 20%;
  }

  .classid_container{
      width: 4.8vw;
      text-align: center;
      border: 2px solid #332259;
      background: hsl(265, 25%, 36%);
      color: white;
  }

  .header{
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 5px solid black;
    background: hsl(265, 25%, 36%);
    color: white;
    font-size: 1.5vw;
  }

  .header_container{
    /* width: 20vw; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .studentName{
    border-bottom: 2px solid white;
  }

  #edit_button{
    background: hsl(265, 25%, 36%);
    width: 5vw;
    height: 5vh;
  }

  #edit_button:hover{
    background: #332259;
  }

  .middle_container{
    height: 10vh;
    /* width: 30vw; */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #Randomize-button {
    /* border: 5px solid pink; */
    /* padding-top: 70px;   */
    /* padding-bottom: 70px;   */
    /* background: rgb(230, 230, 230);  
    color: #332259;   */
    background: #332259;
    color: rgb(230, 230, 230);
    font-size: 380%;
    width: 30vw;
    height: 30vh;
    transition: all 1s ease-in;
    /* padding: 10% 0; */
  }

  #Randomize-button:hover{
    background: #574472;
  }

  .data_container{
    display: flex;
    justify-content: center;
  }

  .part_data{
    width: 41vw;
    display: flex;
    justify-content: center;
  }

  /* ------------------ All Go = False; Tracking = False; -------------------- */

  .middle_ff{
    display: flex;
    justify-content: center;

  }

  #Randomize-button_ff {
    /* border: 5px solid pink; */
    /* padding-top: 70px;   */
    /* padding-bottom: 70px;   */
    /* background: rgb(230, 230, 230);  
    color: #332259;   */
    background: #332259;
    color: rgb(230, 230, 230);
    font-size: 100%;
    /* width: 40vw; */
    /* height: 300px; */
    font-size: 380%;
    width: 30vw;
    height: 30vh;
    transition: all 1s ease-in;
    /* padding: 10% 0; */
  }



@media(max-width: 500px){
  .data_container{
    display: none;
  }
}

@media(max-width: 250px){
  .main{
    width: 100vw;
  }
  .header{
    font-size: 7vw;
    width: 52vw;
  }
  .classid_container{
    width: 18vw;
  }
  #edit_button{
    width: 20vw;
    height: 10vh;
  }
  
}