.main {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    /* background: blue; */
    /* height: 1000px;   */
    background: rgb(230, 230, 230);  
    border-radius: .25rem;  
    width: 95.6vw; 
  }
  
  .main_contents {
    width: 100%;
    height: 100%;
  }
  .top-section {
    /* border: 5px solid maroon; */
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    /* flex-wrap: wrap; */
    width: 100%;
    height: 15%;
  }

  .classid_tt{
      width: 20%;
  }

  .classid_container{
      width: 10%
  }

#dropright{
  width: 100%;
  background: rgb(230, 230, 230);
  height: 96vh
}